<<<<<<< HEAD
/* line 21, assets/scss/style.scss */
.instapago-form--input, .instapago-form--select {
  padding: .5em;
  border: 2px solid #ccc;
  margin: 5px 0 !important;
}

@media screen and (max-width: 378px) {
  /* line 27, assets/scss/style.scss */
  .instapago-form--select {
    width: 50%;
    float: left;
  }
}

/* line 33, assets/scss/style.scss */
.instapago-form--name {
  width: 100%;
}

@media screen and (min-width: 609px) {
  /* line 33, assets/scss/style.scss */
  .instapago-form--name {
    width: 50%;
  }
}

/* line 39, assets/scss/style.scss */
.instapago-form--tipe {
  padding: .6em;
  width: 100%;
}

@media screen and (min-width: 361px) {
  /* line 39, assets/scss/style.scss */
  .instapago-form--tipe {
    width: 19%;
  }
}

@media screen and (min-width: 609px) {
  /* line 39, assets/scss/style.scss */
  .instapago-form--tipe {
    width: 10%;
  }
}

/* line 49, assets/scss/style.scss */
.instapago-form--id {
  width: 100%;
}

@media screen and (min-width: 361px) {
  /* line 49, assets/scss/style.scss */
  .instapago-form--id {
    width: 80%;
  }
}

@media screen and (min-width: 609px) {
  /* line 49, assets/scss/style.scss */
  .instapago-form--id {
    width: 38%;
  }
}

/* line 58, assets/scss/style.scss */
.instapago-form--tdc-number {
  width: 100%;
}

@media screen and (min-width: 609px) {
  /* line 58, assets/scss/style.scss */
  .instapago-form--tdc-number {
    width: 60.3%;
  }
}

/* line 64, assets/scss/style.scss */
.instapago-form--ccv {
  width: 100%;
}

@media screen and (min-width: 609px) {
  /* line 64, assets/scss/style.scss */
  .instapago-form--ccv {
    width: 20%;
  }
}

/* line 70, assets/scss/style.scss */
.instapago-form--txt-help {
  display: inline;
  font-size: 12.88px;
  color: grey;
}

/* line 77, assets/scss/style.scss */
.tdc-logos {
  display: none;
}

@media screen and (min-width: 609px) {
  /* line 77, assets/scss/style.scss */
  .tdc-logos {
    display: inline-block;
    width: 15%;
  }
}

/* line 85, assets/scss/style.scss */
.instapago-img {
  max-width: 100% !important;
}

/* line 89, assets/scss/style.scss */
.instapago-copy {
  margin: 25px 0;
}

/* line 93, assets/scss/style.scss */
.instapago-text-center {
  text-align: center;
}

=======
.instapago-form--input,.instapago-form--select{padding:.5em;border:2px solid #ccc;margin:5px 0!important}@media screen and (max-width:378px){.instapago-form--select{width:50%;float:left}}.instapago-form--name{width:100%}@media screen and (min-width:609px){.instapago-form--name{width:50%}}.instapago-form--tipe{padding:.6em;width:100%}@media screen and (min-width:361px){.instapago-form--tipe{width:19%}}@media screen and (min-width:609px){.instapago-form--tipe{width:10%}}.instapago-form--id{width:100%}@media screen and (min-width:361px){.instapago-form--id{width:80%}}@media screen and (min-width:609px){.instapago-form--id{width:39%}}.instapago-form--tdc-number{width:100%}@media screen and (min-width:609px){.instapago-form--tdc-number{width:60.3%}}.instapago-form--ccv{width:100%}@media screen and (min-width:609px){.instapago-form--ccv{width:20%}}.instapago-form--txt-help{display:inline;font-size:12.88px;color:grey}.tdc-logos{display:none}@media screen and (min-width:609px){.tdc-logos{display:inline-block;width:15%}}.instapago-img{max-width:100%!important}.instapago-copy{margin:25px 0}.instapago-text-center{text-align:center}
>>>>>>> 8913cd6f2b6292503e47cd65f5af53de839d7d61
/*# sourceMappingURL=style.css.map */
